.chart-box
{
    width: 100%;
    
    border: 1px solid #000;
    margin-bottom: 7.5px;
    overflow: hidden;
}
.chart-box p
{
    width: 100%;
    margin: 0;
    padding: 0 7.5px;
}
.chart-box canvas
{
    max-width: 100%;
    padding: 15px;
    overflow: hidden;
}
.doughnut-box
{
    width: 50%;
}

.doughnut-box canvas
{
    max-width: 100%;
    height: auto;
    padding: 15px;
    overflow: hidden;
    float: left;
}
.doughnut-box p
{
    width: 100%;
    margin: 0;
    padding: 0 7.5px;
}

@media (min-width: 768px) {
    .chart-box
    {
        width: 100%;
        
        border: 1px solid #000;
        margin-bottom: 7.5px;
        overflow: hidden;
    }
    .chart-box p
    {
        width: 100%;
        margin: 0;
        padding: 0 7.5px;
    }
    .chart-box canvas
    {
        max-width: 100%;
        padding: 15px;
        overflow: hidden;
    }
    .doughnut-box
    {
        width: 50%;
    }

    .doughnut-box canvas
    {
        max-width: 100%;
        height: auto;
        padding: 15px;
        overflow: hidden;
        float: left;
    }
    .doughnut-box p
    {
        width: 100%;
        margin: 0;
        padding: 0 7.5px;
    }
}


@media (min-width: 1023px) {
    .chart-box
    {
        width: 70%;
        
        border: none;
        margin-bottom: 7.5px;
        overflow: hidden;
    }
    .chart-box p
    {
        width: 100%;
        margin: 0;
        padding: 0 7.5px;
    }
    .chart-box canvas
    {
        max-width: 100%;
        padding: 15px;
        overflow: hidden;
    }
    .doughnut-box
    {
        width: 30%;
        float: left;
    }

    .doughnut-box canvas
    {
        max-width: 100%;
        height: auto;
        padding: 15px;
        overflow: hidden;
        float: left;
    }
    .doughnut-box p
    {
        width: 100%;
        margin: 0;
        padding: 0 7.5px;
    }
}