.dashboard-content
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.main-intro
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}
.main-intro p
{
    margin-top: 0;
}
.main-intro ul
{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-size: 23px;
}

.main-calendar
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.main-calendar p
{
    margin-top: 0;
}

.main-calendar ul
{
    width: 100%;
    height: auto;
}

.main-tables
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-table
{
    width: 100%;
    height: auto;
}

.main-table table
{
    width: 100%;
    height: auto;
}
.main-table table tr
{
    padding: 0 7.5px;
    min-width: 100%;
    overflow-x: auto;
    cursor: default;
}
.main-table table td
{
    padding: 0 15px 0 0;
    cursor: default;
}

.main-table table th
{
    padding: 0 2.5px 0 0;
    cursor: default;
}

.main-table ul 
{
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    cursor: default;
}

.main-table ul li
{
    width: 30%;
    margin: 0;
}

@media (min-width: 768px) {

    .dashboard-content
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .main-intro
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 16px;
    }
    .main-intro p
    {
        margin-top: 0;
    }
    .main-intro ul
    {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 23px;
    }

    .main-calendar
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 16px;
    }

    .main-calendar p
    {
        margin-top: 0;
    }

    .main-calendar ul
    {
        width: 100%;
        height: auto;
    }

    .main-tables
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .main-table
    {
        width: 100%;
        height: auto;
    }

    .main-table table
    {
        width: 100%;
        height: auto;
    }
    .main-table table tr
    {
        padding: 0 7.5px;
        min-width: 100%;
        overflow-x: auto;
    }
    .main-table table td
    {
        padding: 0 15px 0 0;
    }

    .main-table table th
    {
        padding: 0 2.5px 0 0;
    }

    .main-table ul 
    {
        width: 100%;
        list-style: none;
        padding: 0;
        display: flex;
    }

    .main-table ul li
    {
        width: 30%;
        margin: 0;
    }
}


@media (min-width: 1023px) {

    .dashboard-content
    {
        width: 100%;
        height: auto;
        display: block;
    }

    .main-intro
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding: 7.5px;
    }
    .main-intro p
    {
        margin-top: 0;
    }
    .main-intro ul
    {
        width: 100%;
        height: 65px;
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 23px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        box-shadow: rgb(0 0 0 / 20%) -1px 7.5px 7.5px 0px;
    }
    .main-intro ul li
    {
        width: 33.33%;
        word-break: normal;
        font-size: 15px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main-intro ul li span
    {
        width: 100%;
        height: 50%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        padding: 0 3.5px;
    }
    .main-intro ul p
    {
        font-size: 12px;
        height: auto;
        margin: 7.5px 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }
    .main-calendar
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 7.5px;
    }

    .main-calendar p
    {
        margin-top: 0;
    }

    .main-calendar ul
    {
        width: 100%;
        height: auto;
    }
    .main-tables
    {
        width: 100%;
        height: auto;
        display: block;
    }
    .main-table
    {
        width: 30%;
        height: auto;
        float: left;
    }
    .main-table:nth-child(2)
    {
        width: calc(70% - 15px);
        height: auto;
        float: left;
        margin-left: 15px;
    }

    .main-table table
    {
        width: 100%;
        height: auto;
    }
    .main-table table tr
    {
        padding: 0 7.5px;
        min-width: 100%;
        overflow-x: auto;
    }
    .main-table table td
    {
        padding: 0 15px 0 0;
    }

    .main-table table th
    {
        padding: 0 2.5px 0 0;
    }

    .main-table ul 
    {
        width: 100%;
        list-style: none;
        padding: 0;
        display: flex;
    }

    .main-table ul li
    {
        width: 30%;
        margin: 0;
    }
}