.dashboard-content
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.main-intro
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 7.5px;
}
.main-intro p
{
    margin-top: 0;
}
.main-intro ul
{
    width: 100%;
    height: 75px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-size: 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    box-shadow: rgb(0 0 0 / 20%) -1px 7.5px 7.5px 0px;
}
.main-intro ul li
{
    width: 100%;
    word-break: normal;
    font-size: 15px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-intro ul li span
{
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 3.5px;
}
.main-intro ul p
{
    font-size: 12px;
    height: auto;
    margin: 7.5px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.main-calendar
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.main-calendar p
{
    margin-top: 0;
}

.main-calendar ul
{
    width: 100%;
    height: auto;
}
.main-charts
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.main-charts p
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 0 0 7.5px;
}
.main-charts p select
{
    height: auto;
    border: none;
    font-size: 12px;
    padding: 2.5px 7.5px;
}

.main-tables
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-table
{
    width: 100%;
    height: auto;
}

.main-table ol
{
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
}
.main-table ol li
{
    padding: 0 7.5px;
    min-width: 100%;
    overflow-x: auto;
    cursor: default;
}
.main-table ol span
{
    padding: 0 15px;
    cursor: pointer;
}

.main-table ol li:nth-child(1)
{
    padding: 0 7.5px;
    cursor: default;
}
.main-table ol li:nth-child(1) span
{
    cursor: default;
}

.main-table ul 
{
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    cursor: default;
}

.main-table ul li
{
    width: 20%;
    margin: 0;
}


.li-search-field
{
    width: calc(100% - 64px)!important;
    
    border-bottom: 1px solid #000;
    position: relative;
}

.main-table ul li:nth-child(1)
{
    width: 64px;
    margin: 0;
    text-align: center;
    padding: 0 15px;
}
.main-table ul li:nth-child(1) span
{
    cursor: pointer;
}


.main-table-search-button
{
    width: 100%;
    height: 100%;
    padding: 0 7.5px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
}

.main-search-input
{
    width: 100%;
    border: none;
    height: 100%;
    overflow: hidden;
}

.clear-button
{
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    cursor: pointer;
}

.doughnut-box
{
    width: 100%;
    height: 100%;
}

.chart-box
{
    width: 100%;
    border: none;
}

.block-box
{
    width: 100%;
    
}


@media (min-width: 768px) {

    .dashboard-content
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .main-intro
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding: 7.5px;
    }
    .main-intro p
    {
        margin-top: 0;
    }
    .main-intro ul
    {
        width: 100%;
        height: 75px;
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 23px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        box-shadow: rgb(0 0 0 / 20%) -1px 7.5px 7.5px 0px;
    }
    .main-intro ul li
    {
        width: 100%;
        word-break: normal;
        font-size: 15px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main-intro ul li span
    {
        width: 100%;
        height: 50%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        padding: 0 3.5px;
    }
    .main-intro ul p
    {
        font-size: 12px;
        height: auto;
        margin: 7.5px 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }

    .main-calendar
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 16px;
    }

    .main-calendar p
    {
        margin-top: 0;
    }

    .main-calendar ul
    {
        width: 100%;
        height: auto;
    }

    .main-charts
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .main-tables
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .main-table
    {
        width: 100%;
        height: auto;
    }

    .main-table ol
    {
        width: 100%;
        height: auto;
    }
    .main-table ol li
    {
        padding: 0 7.5px;
        min-width: 100%;
        overflow-x: auto;
    }
    .main-table ol span
    {
        padding: 0 15px;
    }

    .main-table ol li:nth-child(1)
    {
        padding: 0 7.5px;
    }

    .main-table ul 
    {
        width: 100%;
        list-style: none;
        padding: 0;
        display: flex;
    }

    .main-table ul li
    {
        width: 30%;
        margin: 0;
    }
}


@media (min-width: 1023px) {

    .dashboard-content
    {
        width: 100%;
        height: auto;
        display: block;
    }

    .main-intro
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding: 7.5px;
    }
    .main-intro p
    {
        margin-top: 0;
    }
    .main-intro ul
    {
        width: 100%;
        height: 75px;
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 23px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        box-shadow: rgb(0 0 0 / 20%) -1px 7.5px 7.5px 0px;
    }
    .main-intro ul li
    {
        width: 100%;
        word-break: normal;
        font-size: 15px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main-intro ul li span
    {
        width: 100%;
        height: 50%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        padding: 0 3.5px;
    }
    .main-intro ul p
    {
        font-size: 12px;
        height: auto;
        margin: 7.5px 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }
    .main-calendar
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 7.5px;
    }

    .main-calendar p
    {
        margin-top: 0;
    }

    .main-calendar ul
    {
        width: 100%;
        height: auto;
    }

    .main-charts
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(1,1fr);
        overflow: hidden;
        column-gap: 15px;
    }

    .doughnut-box
    {
        width: auto;
        height: 100%;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .chart-box
    {
        width: auto;
        grid-column: 3/8;
        grid-row: 1/2;
        border: none;
    }

    .block-box
    {
        width: auto;
        grid-column: 3/8;
        grid-row: 1/2;
        
    }

    .main-tables
    {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        column-gap: 15px;
    }
    
    .main-table:nth-child(1)
    {
        width: auto;
        grid-column: 1/3;
    }
    
    .main-table:nth-child(2)
    {
        width: auto;
        grid-column: 3/8;
    }

    .main-table ol
    {
        width: 100%;
        height: auto;
        list-style: none;
        padding: 0;
    }
    .main-table p
    {
        padding: 0 7.5px;
    }
    .main-table ol li
    {
        padding: 0 7.5px;
        min-width: 100%;
        overflow-x: auto;
    }
    .main-table ol li:nth-child(1)
    {
        font-weight: bolder;
    }

    
    .main-table ol span
    {
        padding: 0 7.5px;
    }

    .main-table ul 
    {
        width: 100%;
        list-style: none;
        padding: 0;
        display: flex;
    }

    .main-table ul li
    {
        width: auto;
        margin: 0;
    }

    .main-table ul li:nth-child(1)
    {
        width: 64px;
        margin: 0;
        text-align: center;
        padding: 0 15px;
    }

    .li-search-field
    {
        width: calc(100% - 64px);
    }

    .clear-button:hover
    {
        color: red;
    }
    
}